/* Login.css */
* {
  background-color: #D3D3D3;
}

body {
  margin: 0; /* Ensure there's no default margin that interferes */
  padding: 0;
}

.login-parent {
  display: flex;
  justify-content: space-between; /* Space between form and image */
  flex-direction: row-reverse; 
  flex-wrap: wrap;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.login-container {
  padding: 20px;
  background-color: #D3D3D3;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 2px solid #0073b1; /* Add border */
  max-width: 50%;
  width: 50%;
}

.login-container h2 {
  color: black;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.login-container button {
  padding: 10px;
  background-color: #0073b1;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #005580;
}

.image-login {
  flex: 1;
  width: 50%; /* Set width to 50% */
  height: 100vh; /* Ensure it takes up the full viewport height */
  mix-blend-mode: multiply;
  margin: 0; /* Remove margins for better alignment */
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .login-parent {
    flex-direction: column;
    align-items: center;
  }

  .login-container, .image-login {
    max-width: 90%; /* Ensure full width on smaller screens */
    margin: 10px 0;
  }
}

@media (max-width: 480px) {
  .login-container, .image-login {
    max-width: 100%;
    padding: 10px;
  }

  .login-container input {
    padding: 10px;
  }

  .login-container button {
    padding: 8px;
  }
}
