* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between; /* Ensures space between logo and navbar links */
  align-items: center;
  background-color: #d3d3d3;
  padding: 1rem 2rem;
  width: 100%;
  z-index: 10;
}

.logo-container {
  flex: 0 0 auto;
  background-color: #d3d3d3;
}

.logo {
  text-decoration: none;
  color: #333;
  font-size: 24px;
  background-color: #d3d3d3;
}

.logo:hover {
  color: green;
}

.navbar {
  display: flex;
  align-items: center;
  margin-left: auto; /* Pushes navbar links to the right */
  background-color: #d3d3d3; 
  padding: 0.5rem 1rem; 
  border-radius: 4px; 
}

.nav-link {
  color: rgb(5, 5, 5);
  text-decoration: none;
  position: relative;
  font-size: 18px;
  padding-bottom: 5px;
  margin-right: 50px;
}

.nav-link:hover {
  color: green;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #333;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.content-wrapper {
  display: flex;
  padding-top: 4rem;
  margin-left: auto;
  width: 100%;
}

.sidebar {
  width: 15%;
  padding: 1rem 0; /* Padding only vertically, removes padding on sides */
  position: sticky;
  right: 0;
  top: 4rem;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  background-color: #4a4a4a; /* Dark grey background */
  border-top: 1px solid grey;
}

.sidebar-content a {
  text-decoration: none;
  color: white; /* Text color for better contrast */
  padding: 1rem; /* Make buttons larger */
  border-bottom: 1px solid grey; /* Border separating buttons */
  background-color: #4a4a4a; /* Match background color */
  display: block;
  text-align: center;
}

.sidebar-content a:hover {
  background-color: #6c6c6c; /* Darker grey on hover */
}
