:root {
  --primary-color: #333;
  --background-color: #d3d3d3;
  --hover-color: #6c6c6c;
  --button-color: #007bff;
  --button-hover-color: #0056b3;
  --text-color: #333;
  --light-background: #f8f9fa;
  --font-large: 24px;
  --font-medium: 18px;
  --font-small: 16px;
  --border-radius: 8px;
  --box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 1rem 2rem;
  width: 100%;
  z-index: 10;
}

.logo-container {
  flex: 0 0 auto;
  background-color: var(--background-color);
}

.logo {
  text-decoration: none;
  color: #333;
  font-size: 24px;
  background-color: var(--background-color);
}

.logo:hover {
  color: green;
}

.navbar {
  display: flex;
  align-items: center;
  margin-left: auto;
  background-color: var(--background-color);
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.nav-link {
  color: rgb(5, 5, 5);
  text-decoration: none;
  position: relative;
  font-size: 18px;
  padding-bottom: 5px;
  margin-right: 50px;
}

.nav-link:hover {
  color: green;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #333;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.content-wrapper {
  display: flex;
  padding-top: 0;
  margin-left: auto;
  width: 100%;
}

.sidebar {
  width: 250px;
  margin-top:2%;
  height: calc(100vh - 4rem);
  padding: .6rem 0;
  position: fixed;
  left: 0;
  top: 4rem;
  background-color: #4a4a4a;
  overflow-y: auto;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar-content a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  border-bottom: 1px solid grey;
  background-color: #4a4a4a;
  display: block;
  text-align: center;
}

.sidebar-content a:hover {
  background-color: #6c6c6c;
}

.main-content {
  margin-left: 250px;
  padding: 2rem;
  width: calc(100% - 250px);
}
  